:root {
  --bs-primary: #E85B81;
}

.custom-disabled-item {
  /* color: var(--bs-dropdown-link-color) !important; */
  color: #E85B81 !important;
}

.progress-bar {
  background-color: #E85B81 !important;
}